section {
  border-radius: 10px;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 4px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.box {
  border-radius: 5px;
  padding: 5px;
}

button {
  height: 100px;
  position: relative;
  width: 100px;
}
