<section [ngClass]="checked == false ? 'duration' : 'limit'">
  <div class="box">
    Duration<p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>Limit
  </div>
  <ng-container [ngSwitch]="checked">
    <ng-container *ngSwitchCase="true">
      <div class="box">
        <ngb-timepicker
          meridian="true"
          size="large"
          [(ngModel)]="start"
        ></ngb-timepicker>
      </div>
      <div class="box">
        <ngb-timepicker
          meridian="true"
          size="large"
          [(ngModel)]="end"
        ></ngb-timepicker>
      </div>
      <div class="box">
        <button (click)="calculateDuration()">Calculate Duration</button>
        <button (click)="add()">Add</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="box2">
        <input type="text" pInputText [(ngModel)]="hour" placeholder="hours" />
      </div>
      <div class="box2">
        <input type="text" pInputText [(ngModel)]="min" placeholder="mins" />
      </div>
      <div class="box">
        <button (click)="add()">Add</button>
      </div>
    </ng-container>
  </ng-container>
</section>
