<h2 style="display: inline-flex;">{{ projectName | titlecase }} -</h2>
<h3 style="display: contents;">{{ managerName | titlecase }}</h3>
<h3 style="display: contents;">
  {{ " [ " + (form.get("time").value | duration) + " ]" }}
</h3>
<button type="button" class="remove-project" (click)="removeProject()">
  Remove
</button>
<hr />
<div class="entry-template" [formGroup]="form">
  <div formArrayName="tasks">
    <p-accordion>
      <div *ngFor="let task of tasks.controls; let i = index">
        <p-accordionTab header="{{ task.get('label').value }}">
          <app-entry-display
            [taskForm]="task"
            [i]="i"
            (removeEmitter)="removeActivity($event)"
          ></app-entry-display>
          <app-entry
            [taskNum]="i"
            (timeEmitter)="activity($event, i)"
          ></app-entry>
          <button class="remove-button" type="button" (click)="removeTask(i)">
            Remove
          </button>
        </p-accordionTab>
      </div>
      <button
        type="button"
        class="task-add-button"
        (click)="displayDialog = true"
      >
        Add Task
      </button>
    </p-accordion>
  </div>
</div>
<app-dialog
  *ngIf="displayDialog"
  [type]="'task'"
  [visible]="displayDialog"
  [header]="'Enter Task Name & Log Hours'"
  (taskEvent)="addTask($event)"
  (closeEvent)="close($event)"
></app-dialog>
