<div class="center">
  <section class="background">
    <div class="heading">
      <h2>Select Tasks Worked On</h2>
    </div>
    <div class="item">
      <p-checkbox
        name="group2"
        value="Development"
        label="Development"
        [(ngModel)]="selectedValues"
        inputId="technology"
      ></p-checkbox>
    </div>
    <div class="item">
      <p-checkbox
        name="group2"
        value="Call"
        label="Call(s)"
        [(ngModel)]="selectedValues"
        inputId="finance"
      ></p-checkbox>
    </div>
    <div class="item">
      <p-checkbox
        name="group2"
        value="Discussion"
        label="Discussion(s)"
        [(ngModel)]="selectedValues"
        inputId="sports"
      ></p-checkbox>
    </div>
    <div class="item">
      <div class="button-div">
        <button
          pButton
          type="button"
          label="Click"
          (click)="handleClick()"
        ></button>
      </div>
    </div>
  </section>
</div>
