section {
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 4px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "heading heading heading heading"
    "item item item item";
}

.div {
  display: inline-block;
}
.background {
  background-color: wheat;
}
h2 {
  text-align: center;
}

.heading {
  grid-area: heading;
}
.item1 {
  grid-area: item;
}
.item2 {
  grid-area: item;
}
.item3 {
  grid-area: item;
}
.item4 {
  grid-area: item;
}
